In [2]:
import pandas as pd
import numpy as np

# ifMatch function will take an excel file as input and will give output a new excel file
# It will then match the Actual PO with the PO and will give a new Column named 'Acutal Dzn'
def vlookUP(input):
    df = pd.read_excel(input)
    df1, df2 = pd.read_excel(input, sheet_name = "record"), pd.read_excel(input, sheet_name = "marks")
    df3 = pd.merge(df1,df2, on ='id', how ='inner')
    df3.to_excel("RESULT.xlsx")
    return df3
    
userInput = input("Enter the name of Excel File with Extension:")
vlookUP(userInput)

Enter the name of Excel File with Extension:Student Data.xlsx

    id         name  class     sex  marks
0    1     John Deo   Four  female     75
1    2     Max Ruin  Three    male     85
2    3       Arnold  Three    male      5
3    4   Krish Star   Four  female     60
4    5    John Mike   Four  female     60
5    6    Alex John   Four    male     55
6    7  My John Rob   Five    male     78
7    8       Asruid   Five    male     85
8    9      Tes Qry    Six    male     78
9   10     Big John   Four  female     55
10  11       Ronald    Six  female     89
11  12        Recky    Six  female     94
12  13          Kty  Seven  female     88
13  14         Bigy  Seven  female     88
14  15     Tade Row   Four    male     88
15  16        Gimmy   Four    male     88
16  17        Tumyu    Six    male     54
17  18        Honny   Five    male     75
18  19        Tinny   Nine    male     18
19  20       Jackly   Nine  female     65
20  21   Babby John   Four  female     69
21  22       Reggid  Seven  female     55
22  23        Herod  Eight    male     79
23  24    Tiddy Now  Seven    male     78
24  25     Giff Tow  Seven    male     88
25  26       Crelea  Seven    male     79
26  27     Big Nose  Three  female     81
27  28    Rojj Base  Seven  female     86
28  29  Tess Played  Seven    male     55
29  30    Reppy Red    Six  female     79
30  31  Marry Toeey   Four    male     88
31  32    Binn Rott  Seven  female     90
32  33    Kenn Rein    Six  female     98
33  34     Gain Toe  Seven    male     69
34  35   Rows Noump    Six  female     88